{% extends "/views/base.html" %}

{% block main %}
  {% set schema = doc.pod.read_yaml(doc.collection.pod_path ~ '/_schema.yaml') %}
  {% for field in schema.schema_fields %}
    {# If the schema name is not set, skip. #}
    {% if not field.schema_name %}
      {% continue %}
    {% endif %}

    {# Determine whether the field corresponds to a partial. #}
    {% set partial_filename = field.schema_name|kintaro.schema_name_to_partial %}

    {# If the schema name is not mapped to a partial, skip. #}
    {% if not partial_filename %}
      {% continue %}
    {% endif %}

    {# Render the partial with the field values in {{partial}}. #}
    {% with partial = doc.fields.get(field.name) %}
      {% include partial_filename with context %}
    {% endwith %}
  {% endfor %}
{% endblock %}
