{% extends "/views/base.html" %}

{% block main %}
  {% for field in doc.fields.get('$meta').schema.schema_fields %}
    {# Determine whether the field corresponds to a partial. #}
    {% set basename = doc.collection.schemas_to_partials.get(field.schema_name) %}

    {# If the schema name is not mapped to a partial, skip. #}
    {% if not basename %}
      {% continue %}
    {% endif %}

    {# Render the partial with the field values in {{partial}}. #}
    {% with partial = doc.fields.get(field.name) %}
      {% include "/views/partials/" ~ basename ~ ".html" with context %}
    {% endwith %}
  {% endfor %}
{% endblock %}
